@font-face {
    font-family: "fontePoke";
    src: url("fonte/KetchumItalic-aOOa.ttf");
}

@font-face {
    font-family: "fontetext";
    src: url("fonte/Noto_Serif_Vithkuqi/static/NotoSerifVithkuqi-Medium.ttf");
}


:root {
    --vermelho-banner: firebrick;
    --amarelo-titulo: rgb(228, 228, 6);
    --background-black: black;
    --text-black: black;
}

@keyframes nova_animacao {

    0% {
        background-color: red;
    }

    10% {
        background-color: rgb(255, 81, 0);
    }

    20% {
        background-color: rgb(238, 255, 0);
    }

    30% {
        background-color: rgb(94, 128, 0);
    }

    40% {
        background-color: rgb(4, 128, 0);
    }

    50% {
        background-color: rgb(0, 128, 107);
    }

    60% {
        background-color: rgb(0, 45, 128);
    }

    70% {
        background-color: rgb(128, 0, 122);
    }

    100% {
        background-color: rgb(128, 0, 0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------------------------Banner---------------------------------------------*/
.banner {
    border: 1px solid black;
    background-color: var(--vermelho-banner);
}

header {
    display: grid;
    grid-template-columns: 251px 1fr 1fr;



}

.gif {
    height: 150px;
}

.div1 {

    height: 280px;
    width: 170px;
    background-color: var(--vermelho-banner);
    animation-name: nova_animacao;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


.banner h1 {
    color: var(--amarelo-titulo);
    margin: 2cm 15.5cm;
    font-size: 39pt;
    font-family: "fontePoke";

}

#menu {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-family: "fontetext";
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#menu li {
    margin-right: 20px;
}

#menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

#menu li a:hover {
    color: #ff6f00;
}

/*--------------------Main pagina 1-----------------------------*/
.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-black);

}

.Principal {
    border: 1px solid black;
    min-height: 150px;
    width: 80%;
    margin: 0.4cm 50% 0.4cm 10%;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#duascolum {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#img1 {
    width: 100%;
    border-radius: 10px;
}

.p1 {
    text-align: center;
    font-size: 29px;
}

/*---------------------------resto-----------------------------*/
.p2 {
    text-align: center;
    font-family: "fontetext";
    color: var(--text-black);
    margin: 1cm 10cm;
    font-size: 40pt;
    text-shadow: rgb(83, 82, 82) 0.1em 0.01em;

}

#hisimg {
    text-align: center;
    margin: 1cm 10cm;
}

.Principal1 {
    border: 1px solid black;
    min-height: 150px;
    width: 80%;
    margin: 0.4cm 50% 0.4cm 10%;
    border-radius: 10px;
    background-color: #fff;

}

.p3 {
    text-align: center;
    font-family: "fontetext";
    color: var(--text-black);
    margin: 0.5cm 1cm;
    font-size: 12pt;

}

.Principal2 {
    border: 1px solid black;
    min-height: 150px;
    width: 80%;
    margin: 0.4cm 50% 0.4cm 10%;
    border-radius: 10px;
    background-color: #fff;

}

#hisimg1 {
    text-align: center;
    margin: 0.5cm;
    padding: 5px;
    border: solid #333 1px;
    border-radius: 10px;
    width: 140px;
    height: 140px;
}

#hisimg2 {

    grid-column: 3;
    margin: 0.5cm;
    padding: 5px;
    border: solid #333 1px;
    border-radius: 10px;
    width: 140px;
    height: 140px;
}

#cincorow {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;


}

#quatrorow {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;


}

.listnot {
    list-style-image: url('imagem/pokebola.png');
    font-family: "fontetext";
    color: var(--text-black);
    margin: 0.5cm 5cm;
    font-size: 12pt;

}

footer {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
}

#git {
    background-color: #000000;
    text-align: center;
    font-size: 16px;



}

.link {
    color: white;
}

/*-------------------------------resposividade--------------------------------*/
@media (max-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 151px 1fr 1fr;
    }

    .gif {
        height: 90px;
    }

    .banner {
        height: 200px;
        width: 515px;
    }

    .banner h1 {
        margin: 70px 70px;
        font-size: 29pt;
    }

    .div1 {

        height: 200px;
        width: 100px;
    }

    #duascolum {
        display: grid;
        grid-template-columns: 1fr;
    }

    .Principal {
        min-height: 100px;
        width: 80%;
        margin: 0.4cm 50% 0.4cm 10%;
    }

    .p1 {
        font-size: 28px;
    }

    /*-------------------- historia --------------------*/
    .p2 {
        font-size: 50px;
        text-align: center;
        font-family: "fontetext";
        color: var(--text-black);
        margin: 1px 10px;
        text-shadow: rgb(83, 82, 82) 0.1em 0.01em;
    }
    #hisimg {
        text-align: center;
        margin: 5px 10px;
        
    }
    .imghis{
        width: 450px;
    }
    #hisimg1 {
        text-align: center;
        margin: 2px 3px;
        width: 115px;
    }
    #hisimg2 {

        grid-column: 3;
        text-align: center;
        margin: 2px 3px;
        width: 115px;
       
    }
    .imghis1{
        width: 90px;

    }
    

}